# This file should only include settings that affect the physical contents of the file, not just how it appears in an editor.
# Do not include personal preference presentation settings like a tab's `indent_size` in this file; those should be specified
# in a parent .editorconfig file outside of the repository.
# v1.7 - Source: https://gist.github.com/deadlydog/bd000162e85c155b243a712c16f7411c

# Ensure that personal preference presentation settings can be inherited from parent .editorconfig files.
root = false

#### Core EditorConfig Options ####

[*]
charset = utf-8
indent_style = tab
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# For some languages, the number of spaces used for indentation matters.
[*.{tf,md,psd1,pp,yml,yaml}]
indent_style = space
indent_size = 2

#### .NET Coding Conventions ####

csharp_style_namespace_declarations = file_scoped
